{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Home'%}{% endblock %}
{% block css_includes %}
<style type="text/css" media="screen, projection">
@import url(/static/css/jq_fade.css);
</style>
{% endblock %}
{% block javascript_includes %}
{% if user.is_authenticated %}
<script src="/static/javascript/jquery.autocomplete.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#id_searchbox").autocomplete('/tickets/ajax/search/');
</script>
{% else %}
<script src="/static/javascript/jquery.innerfade.js" type="text/javascript"></script>
{% endif %}
{% endblock %}
{% block jquery_ready %}
{% if user.is_authenticated %}
$("#id_searchbox").focus();
{% else %}
	$('ul#portfolio').innerfade({
						speed: 1000,
						timeout: 5000,
						type: 'sequence',
						containerheight: '220px'
    });
{% endif %}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>{% trans "Hello" %} {{ user.first_name }}!</h1>
<p>{% blocktrans %}
Welcome to Bugz...
{% endblocktrans %}</p>
<h2>{% trans "Search for Issues" %}</h2>
<form method="POST" action="/tickets/search">
    <p>
    {{form.searchbox.errors}}
    {{form.searchbox.label_tag}} {{form.searchbox}}
    <input type="submit" value="{% trans 'Search' %}" />
    </p>
</form>
{% else %}
    <div id="fading_images">
       <ul id="portfolio" style="list-style-type: none;">					
					<li>
						<a href="http://www.flickr.com/photos/chaparral/382859222/"><img src="/static/images/screen1.jpg" alt="Having issues with 'Issues'..? Confused by bug tracking..?" /></a>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/dotbenjamin/2765083201/"><img src="/static/images/screen2.jpg" alt="Bugz makes tracking issues EASY!" /></a>
					</li>					
					<li>
						<a href="http://www.flickr.com/photos/zanastardust/2481428401/"><img src="/static/images/screen3.jpg" alt="Elegant &amp; Simple" /></a>
					</li>					
					<li>
						<a href="http://www.flickr.com/photos/yogi/1474419777/"><img src="/static/images/screen4.jpg" alt="Keep your geeks HAPPY (use Bugz ;-)" /></a>
					</li>		
       </ul>
   </div>

<p class="what_next">
   <a href="/signup">{% trans "Signup" %}</a> |
   <a href="/login">{% trans "Login" %}</a> |
   <a href="/faq">{% trans "FAQ" %}</a> 
</p>
{% endif %}
{% endblock %}
