{% load i18n %}
{% if user.is_authenticated %}
<a href="/">{% trans "Home" %}</a> |
<a href="/tickets/">{% trans "My Tickets" %}</a> |
<a href="/tickets/new">{% trans "New Ticket" %}</a> |
<a href="/tickets/search">{% trans "Search Tickets" %}</a> |
<a href="/faq">{% trans "FAQ" %}</a> |
<a href="/exit">{% trans "Logout" %}</a> |
You are logged in as: <strong>{{user.get_full_name}}</strong>
{% else %}
<a href="/">{% trans "Home" %}</a> |
<a href="/signup">{% trans "Sign Up" %}</a> | 
<a href="/login">{% trans "Login" %}</a> |
<a href="/faq">{% trans "FAQ" %}</a> |
{% endif %}
