{% extends 'base.html' %}
{% load i18n %}
{%block title %}{% trans "Password Reset"%}{% endblock %}
{% block jquery_ready %}$("#id_email").focus(); {% endblock %}
{% block content %}
<h1>{% trans "Password reset"%}</h1>
<p>{% blocktrans %}Forgotten your password? Enter your e-mail address below, 
and we'll e-mail instructions for setting a new one.{% endblocktrans %}</p>
<form action="" method="post">
    {{form.as_p}}
<p><input type="submit" value="{% trans "Reset my password"%}"/>
</form>
{% endblock %}
