{% extends 'base.html'%}
{% load i18n %}
{%block title %}{% trans "Password Reset"%}{% endblock %}
{% block jquery_ready %}$("#id_new_password").focus(); {% endblock %}
{% block content %}
{% if validlink %}

<h1>{% trans "Enter new password"%}</h1>

<p>{% blocktrans %}Please enter your new password twice so we can verify you 
typed it in correctly.{% endblocktrans %}</p>

<form action="" method="post">
    {{form.as_p}}
<p><input type="submit" value="{% trans "Change my password"%}"/>
</form>

{% else %}

<h1>{% trans "Password reset unsuccessful"%}</h1>

<p>{% blocktrans %}The password reset link was invalid, possibly because it has
already been used.  Please request a new password reset.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
